/* ------------------------------- ALL -------------------------------  */

* {
    padding: 0;
    margin: 0;
}

body {
    width: auto;
    height: auto;
    overflow-x: hidden;
    /* 300, 400, 600, 700 */
    font-family: 'Source Sans Pro', sans-serif;
}

/* ------------------------------- INDEX.php -------------------------------  */
/* ------------------------------- HEADER -------------------------------  */

.header {
    max-width: 1000px;
    height: auto;
    margin: auto;
    display: flex;
}

.header-first-part {
    flex: 1;
    display: flex;
    padding: 10px;
}

.header-first-subpart1 {
    flex: 1;
}

.header-first-subpart1 i {
    font-size: 55px;
    float: right;
    padding-right: 15px;
    color: #753422;
}

.header-first-subpart2 {
    padding: 4px 0px 0px 0px;
    flex: 6;
}

.header-first-subpart2 h1 {
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    color: #B05B3B;
}

.header-first-subpart2 h2, .header-second-part p {
    font-size: 18px;
    font-weight: 300;
}

.header-second-part {
    flex: 1;
    padding: 5% 10px 0px 10px;
    text-align: right;
}

.header-second-part h1 {
    font-weight: 600;
    font-size: 30px;
    color: #B05B3B;
}

/* ------------------------------- CONTAINER -------------------------------  */

.container {
    max-width: 1000px;
    height: auto;
    margin: 5px auto 10px auto;
}

.container-header {
    width: auto;
    height: auto;
    padding: 7px 7px 7px 70px;
    background-color: #753422;
}

.container-header h1 {
    font-size: 25px;
    font-weight: 400;
    color: #FFEBC9;
}

.sub-container {
    width: auto;
    height: auto;
    display: flex;
}

.sub-container1 {
    width: auto;
    height: auto;
    flex: 1;
}

.caption {
    width: auto;
    height: 25px;
    padding: 10px 25px 10px 10px;
    border: 1px solid black;
    border-top: none;
}

.caption h3 {
    font-size: 20px;
    text-align: right;
    font-weight: 600;
}

.sub-container2 {
    width: auto;
    height: auto;
    flex: 2;
    border-right: 1px solid black;
}

.other-caption {
    width: auto;
    height: 45px;
    border-bottom: 1px solid black;
}

.other-caption form {
    font-weight: 400;
    font-size: 18px;
}

.other-caption input{
    margin: 15px 0px 15px 20px;
}

.other-caption input[type=text],
.other-caption input[type=email] {
    width: 50%;
    font-size: 20px;
    height: 35px;
    margin: 3px;
}

.other-caption label {
    margin-left: 5px;
}

.other-caption input[name=day] {
    width: 10%;
}

.other-caption input[name=month],
.other-caption input[name=year],
.other-caption input[name=postal],
.other-caption input[name=area] {
    width: 20%;
}

.other-caption input[name=sex], 
.other-caption input[name=address] {
    width: 15%;
}

.other-caption input[name=street] {
    width: 60%;
}

.other-caption input[name=city],
.other-caption input[name=province], 
.other-caption input[name=number],
.other-caption input[name=driver],
.other-caption input[name=expiry],
.other-caption input[name=secondary],
.other-caption input[name=location] {
    width: 40%;
}

.other-caption input[name=from],
.other-caption input[name=to] {
    width: 8%;
}

.other-caption input[name=paper],
.other-caption input[name=computer] {
    width: 28%;
}

.enter {
    width: 200px;
    height: auto;
    text-align: center;
    margin: 20px auto 20px auto;
}

.enter input {
    width: 100%;
    background: #753422;
    border: none;
    color: #FFEBC9;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
}

.enter input:hover {
    background: #B05B3B;
}

/* ------------------------------- RESULT.php -------------------------------  */

.banner {
    max-width: 1000px;
    height: auto;
    margin: 10px auto auto auto;
}

.banner h1 {
    color: #1c8118;
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
    text-align: center;
    background: rgb(180, 255, 180);
}

.other-caption h3 {
    padding: 12px 20px 12px 20px;
    display: inline-block;
}

